{% extends "base.html" %}

{% block content %}
<h1>Erreur 404</h1>

La page que vous recherchez n'existe pas. Tous les pingouins disponibles la recherchent activement.
Plusieurs solutions s'offrent à vous.

<h2>Méthode pour les non-professionnelles</h2>

Le menu est actif et vous pouvez retourner à l'accueil ou sur une autre page du site.
Il est possible que le contenu que vous recherchez a été déplacé ou supprimé.
## Méthodes pour les professionnelles de l'IT (développeur, adminréseaux, 
    <a href="https://www.youtube.com/watch?v=rlarCLhzfoU" target="_blank">ingenieur informatichien</a>)
Si vous êtes vraiment 
    <a href="https://perdu.com/" target="_blank">perdu.</a> Courage
Vous pouvez demander de l'aide sur 
    <a href="https://catgpt.wvd.io/" target="_blank">catgpt.</a>
Un tuto vidéo pour vous sortir de là est disponible 
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">ici.</a>
Peut être qu'il s'agit de votre installation réseau qui est défaillante. Consulter des 
    <a href="https://poudreverte.org/" target="_blank">professionnelles.</a>
<a href="https://www.youtube.com/watch?v=a4Q03pJJCIA" target="_blank">
    Ma technique de codage</a> est parfaite, ce n'est pas possible chez moi, ça marche.

<h2>Ressources</h2>

<a href="https://www.youtube.com/watch?v=rlarCLhzfoU" target="_blank">ingenieur informatichien</a><br>
<a href="https://perdu.com/" target="_blank">perdu.com</a><br>
<a href="https://catgpt.wvd.io/" target="_blank">catgpt.</a><br>
<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">best music 4 ever.</a><br>
<a href="https://poudreverte.org/">La poudre verte.</a><br>
<a href="https://www.youtube.com/watch?v=a4Q03pJJCIA" target="_blank">Je code avec le Q</a><br>
{% endblock %}